.body__header {
  background-color: #ffc52c;
  min-height: 20%;
  max-height: 30%;
  background-color: #ffc52c;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.body__header--title {
  color: black;
  font-size: 4rem;
}
.body__header--subtitle {
  color: #fb0c06;
  font-size: 2rem;
}

.main-content__modalSection--content--header {
  top: -300px;
  right: 0;
  left: 0;
  background-color: #e7edea;
  width: 100%;
  height: 100%;
  text-align: center;
}
.main-content__modalSection--content--header--title {
  color: black;
  font-size: 2rem;
  margin-bottom: 20px;
}
.main-content__modalSection--content--header--icon {
  position: absolute;
  top: 0;
  right: 1px;
  cursor: pointer;
  width: 1rem;
  height: 1.4rem;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #e7edea;
  width: 100vw !important;
  height: 100vh !important;
}

.button {
  background-color: #ffc52c;
  border: solid 2px black;
  border-radius: 5px;
  color: black;
  font-size: 1rem;
  width: 8vw;
  height: 4vh;
  margin: 15px;
  padding: 2px;
}
.button:hover {
  background-color: #ffd35f;
}

.main-content {
  /*Main table section*/
}
.main-content__table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /*table buttons*/
  /*spentTable*/
}
.main-content__table--button {
  left: -200px;
  height: 7vh;
}
.main-content__table--content {
  background-color: unset;
  /*table head*/
  /*table body*/
}
.main-content__table--content--thead {
  background-color: unset;
}
.main-content__table--content--tbody {
  background-color: unset;
  /*table submission buttons*/
}
.main-content__table--content--tbody--button {
  background-color: unset;
}
.main-content__modalSection {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: none;
  align-items: center;
  justify-content: center;
}
.main-content__modalSection--content {
  background-color: #e7edea;
  min-width: 300px;
  max-width: 60%;
  border-radius: 10px;
  border: solid 2px #cad7d1;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* Form section */
  /* Form footer */
}
.main-content__modalSection--content--form {
  /* Form Field */
}
.main-content__modalSection--content--form--fillField {
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  margin: 10px;
  font-size: 1rem;
}
.main-content__modalSection--content--footer--bottomButton {
  background-color: unset;
}

.main-content__modalSection:active {
  display: flex;
}
@keyframes modal {
  from {
    opacity: 0;
    transform: matrix3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: matrix3d(0, 0, 0);
  }
}

.footer {
  color: #494949;
  font-size: 12px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
