@keyframes modal {
  from {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.body__header {
  min-height: 20%;
  max-height: 30%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.body__header--title {
  color: black;
  font-size: 3rem;
  user-select: none;
}
.body__header--subtitle {
  color: #c58f00;
  font-size: 1rem;
  user-select: none;
}

.modalSection--content--header {
  top: -300px;
  right: 0;
  left: 0;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  text-align: center;
}
.modalSection--content--header--title {
  color: black;
  font-size: 2rem;
  margin-bottom: 20px;
}
.modalSection--content--header--icon {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
  width: 1rem;
  height: 1.4rem;
  font-size: 1rem;
}
.modalSection--content--header--icon:hover {
  color: #666666;
}

.body, .body__header--title, .main-content__table, .main-content__table--header--title {
  transition-timing-function: ease;
  transition-duration: 1s;
}

* {
  margin: 0;
  padding: 0;
  color: black;
}

h1, h2, h3, h4, h5 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.body {
  background-color: #f9f9f9;
  width: 100vw !important;
  height: 100vh !important;
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1vh;
  column-gap: 1vw;
  padding: 20px;
}

.totalContainer {
  margin: auto;
  margin-top: 0;
  border-radius: 10px;
  border: solid 2px lightgray;
  padding: 20px;
  background-color: white;
  grid-area: 1/1/2/2;
  width: 100%;
  height: 37vh;
}

.graficoContainer {
  margin: auto;
  margin-top: 0;
  border-radius: 10px;
  border: solid 2px lightgray;
  padding: 20px;
  background-color: white;
  grid-area: 2/1/3/2;
  width: 100%;
  height: 37vh;
}

.btnn {
  background-color: #ffc52c;
  border: solid 2px #1a1a1a;
  border-radius: 5px;
  color: black;
  font-size: 1rem;
  min-height: fit-content;
  min-width: fit-content;
  max-width: 10vw;
  margin: 15px;
  padding: 5px;
}
.btnn:hover {
  cursor: pointer;
}

.hidebtn {
  display: none;
}

.labelc {
  border-radius: 100px;
  height: 25px;
  width: 25px;
  display: grid;
  place-items: center;
}
.labelc:hover {
  background-color: lightgray;
}

.actbtn {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
}

.iconbtn {
  border-radius: 30px;
  border: none;
  width: 20px;
  font-size: 0.8rem;
  height: 20px;
  padding: 1px;
  margin: 1px;
}

tbody {
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.main-content {
  grid-area: 1/2/3/3;
  margin: auto;
  margin-top: 0;
  border-radius: 10px;
  border: solid 2px lightgray;
  padding: 20px;
  background-color: white;
  width: 100%;
  min-width: 500px;
  height: 75vh;
  /*Main table section*/
}
.main-content__table {
  width: 100%;
  /*spentTable*/
}
.main-content__table tbody tr {
  height: 5vh;
}
.main-content__table tbody tr:hover {
  background-color: #f6f6f6;
}
.main-content__table--header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
  /* table title */
}
.main-content__table--header--title {
  font-size: 2rem;
}
.main-content__table--content {
  /*table body*/
}
.main-content__table--content--tbody {
  /*table submission buttons cell*/
}
.main-content__table--content--tbody .tbody--cell {
  background-color: unset;
  width: 100%;
  height: 5vh;
  margin: 2px;
  padding: 8px;
  border-bottom: solid 1px #262626;
}

/*table head*/
.main-content__table--content--thead {
  background-color: #f8b400;
  border: 2px solid black;
  border-radius: 5px;
  user-select: none;
}

.thead--cell {
  background-color: unset;
  padding: 8px;
  border: solid 1px #666666;
  border-radius: 5px;
}
.thead--cell:nth-child(1) {
  min-width: 100px;
}
.thead--cell:nth-child(2) {
  min-width: 100px;
}
.thead--cell:nth-child(3) {
  min-width: 100px;
}
.thead--cell:nth-child(4) {
  min-width: fit-content;
}

#scrollTable {
  height: 60vh;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
#scrollTable::-webkit-scrollbar {
  width: 5px;
}
#scrollTable::-webkit-scrollbar-track {
  background: #ffefc5;
}
#scrollTable::-webkit-scrollbar-thumb {
  background-color: #ffc52c;
  border-radius: 20px;
}
#scrollTable::-webkit-scrollbar-thumb:hover {
  background-color: #ffd35f;
}

.modalSection {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
  display: none;
  align-items: center;
  justify-content: center;
}
.modalSection--content {
  background-color: #f9f9f9;
  box-sizing: border-box;
  min-width: 400px;
  width: 35vw;
  max-width: 60vw;
  border-radius: 10px;
  border: solid 3px lightgray;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* Form section */
}
.modalSection--content--form {
  display: grid;
  align-items: center;
  justify-content: stretch;
  /* Form Field */
}
.modalSection--content--form--fillField {
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 1rem;
  padding: 5px;
  min-width: 300px;
  width: 60%;
  max-width: 100%;
}
.modalSection .tip {
  font-size: 0.8rem;
  color: #ffc52c;
}

.changeThemeMixin {
  background-color: #141414 !important;
}
.changeThemeMixin .body__header--title {
  color: #e6e6e6;
}
.changeThemeMixin .main-content__modalSection--content {
  background-color: #606060;
  border: solid 3px #3a3a3a;
}
.changeThemeMixin .main-content__modalSection--content--header {
  background-color: #606060;
}
.changeThemeMixin .main-content__modalSection--content--header--title {
  color: #f9f9f9;
}
.changeThemeMixin .main-content__modalSection--content--header--icon {
  color: #f9f9f9;
}
.changeThemeMixin .main-content__modalSection--content--header--icon:hover {
  color: #bfbfbf;
}
.changeThemeMixin .main-content__modalSection--content--form {
  color: #f9f9f9;
}
.changeThemeMixin .main-content__modalSection--content--form--fillField {
  background-color: #adadad;
}
.changeThemeMixin .main-content__table {
  border: solid 3px #3a3a3a;
  box-shadow: 2px 2px 5px black;
  background-color: #606060;
}
.changeThemeMixin .main-content__table--header--title {
  color: #f9f9f9;
}
.changeThemeMixin .main-content__table tbody tr:hover {
  background-color: #686868;
}
.changeThemeMixin .main-content .thead--cell {
  border: solid 1px black;
}
.changeThemeMixin .main-content .tbody--cell {
  color: #f9f9f9;
  border-bottom: solid 1px #f9f9f9;
}
.changeThemeMixin .footer {
  color: #f9f9f9;
}
.changeThemeMixin #toggle {
  transition-timing-function: ease-in;
  transform: translateX(30px);
  transition-duration: 0.5s;
  background-color: black;
}

.modalSection.mostrar {
  animation: modal 1s;
  display: flex;
}

@media (max-width: 499px) {
  .body__header {
    max-height: 10%;
  }
  .body__header--title {
    font-size: 1.5rem;
  }
  .body__header--subtitle {
    font-size: 0.7rem;
  }

  .main-content__table {
    font-size: 0.7rem;
  }
  .main-content__table--header--title {
    font-size: 1.5rem;
  }
  .main-content__table--header--button {
    font-size: 0.7rem;
  }
  .main-content__table--content--thead {
    max-height: 10px;
  }
  .main-content__table--content .thead--cell {
    padding: 5px;
  }
  .main-content__table--content .thead--cell:nth-child(1) {
    min-width: 60px;
  }
  .main-content__table--content .thead--cell:nth-child(2) {
    min-width: 40px;
  }
  .main-content__table--content .thead--cell:nth-child(3) {
    min-width: 70px;
  }
}
@media (min-width: 500px) {
  .body__header {
    max-height: 20%;
  }
  .body__header--title {
    font-size: 2rem;
  }
  .body__header--subtitle {
    font-size: 0.8rem;
  }

  .main-content .thead--cell:nth-child(1) {
    min-width: 90px;
    max-width: 120px;
  }
  .main-content .thead--cell:nth-child(2) {
    min-width: 80px;
  }
  .main-content .thead--cell:nth-child(3) {
    min-width: 90px;
  }
}
@media (min-width: 900px) {
  .body__header {
    max-height: 20%;
  }
  .body__header--title {
    font-size: 4rem;
  }
  .body__header--subtitle {
    font-size: 1.2rem;
  }

  .main-content .thead--cell:nth-child(1) {
    min-width: 90px;
  }
  .main-content .thead--cell:nth-child(2) {
    min-width: 90px;
  }
  .main-content .thead--cell:nth-child(3) {
    min-width: 100px;
  }
}
.footer {
  color: #494949;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  width: 100%;
  z-index: 1;
  height: 20px !important;
  padding: 0 !important;
}

.themeButtons {
  background-color: #ffc52c;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 3.6rem;
  height: 1.8rem;
  padding: 1px;
  border-radius: 100px;
  box-shadow: 1px 1px 2px #c6c6c6;
}
.themeButtons #themeButtonDark {
  display: none;
}
.themeButtons #toggle {
  background-color: #f9f9f9;
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 100px;
  cursor: pointer;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}
.themeButtons::before {
  position: absolute;
  content: "OFF";
  font-size: 0.6rem;
  top: 10px;
  left: 46.5%;
}
.themeButtons::after {
  position: absolute;
  content: "ON";
  font-size: 0.6rem;
  top: 10px;
  left: 52.3%;
}

table {
  border-collapse: unset !important;
  border-spacing: 0.2rem !important;
}

.navbar {
  min-height: 100px !important;
  box-shadow: 2px 2px 5px #adadad;
}

.buttons {
  margin: auto !important;
  border: none !important;
}

.buttons > .button {
  border: none !important;
}

.navbar-item img {
  max-height: 5rem !important;
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, .navbar-link:not(.is-arrowless)::after {
  color: #ffc52c !important;
  border-color: #ffc52c !important;
}

.button.is-ghost {
  color: #ffc52c !important;
  box-shadow: none !important;
  font-size: 1.2rem !important;
}

/*# sourceMappingURL=main.css.map */
