@use "../variables/index.scss" as a;
//@use "../components/index.scss" as *;

table{
  border-collapse: unset !important;
  border-spacing: .2rem !important;
}

.navbar{
  min-height: 100px !important;
  box-shadow: 2px 2px 5px darken(a.$bg-color3, 10%);
  padding-left: 20px;
  padding-right: 20px;
  &-dropdown{
    border: none !important;
  }
  //background-color: darken(a.$bg-color3, 60%) !important;
  a{
    color: black !important;
  }
}

.buttons{
  margin: auto !important;
  border: none !important;
}

.buttons>.button{
  border: none !important;
  margin-bottom: 0 !important;
}

.navbar-item img{
  max-height: 5rem !important;
}

.navbar-dropdown{
  padding-bottom:0 !important;
  padding-top:0 !important;
}

.navbar-divider{
  margin: 0 !important;
}


.navbar-link.is-active, .navbar-item:hover, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover{
  color: a.$bg-color !important;
  border-color: a.$bg-color !important;
  background-color: darken(a.$bg-color3,1%) !important;
}

.navbar-link:not(.is-arrowless)::after{
  color: a.$bg-color !important;
  border-color: a.$bg-color !important;
}

.button.is-ghost{
  color: a.$bg-color !important;
  box-shadow: none !important;
  font-size: 1.2rem !important;
}

.button{
  background-color: transparent !important;
}