@use '../util/functions.scss' as *;
@use '../variables/colors.scss' as a;

.button{
    color: a.$text-color;
    background-color: a.$bg-color;
    padding: 5px;
    border-radius: 10px;
    border-color: a.$border-color;

    &:hover{
        cursor: pointer;
        background-color: lighten(a.$bg-color, 10%);
    }
}