@use "../variables/index.scss" as a;
@use '../util/index.scss' as *;

@mixin transition{
    transition: background-color 500ms ease !important;
}

.body, .body__header--title, .main-content__table, .main-content__table--header--title, path, section, .modalSection--content{
    @include transition();
}

.svg-inline--fa:hover{
    cursor: pointer;
}

.themeButtons{
    background-color: a.$bg-color;
    display: flex;
    align-items: center;
    width: 1.8rem;
    height: 1.8rem;
    padding: 1px;
    border-radius: 100px;
    box-shadow: 1px 1px 2px darken(a.$bg-color3, 20%);

    #themeButtonDark{
        display: none;
    }

    .fa-moon{
       margin-left:-27px;
        path{
            color: transparent;
        }
    }
   
    .fa-sun{
       path{
        color: a.$bg-color;
       }
    }

    #toggle{
        background-color: a.$bg-color3;
        width: 1.4rem;
        height: 1.4rem;
        margin-left: 2px;
        margin-right: 2px;
        border-radius: 100px;
        cursor: pointer;
    }
}


@mixin darkTheme{
    background-color: darken(a.$bg-color3,89%)!important;
    color:a.$bg-color3;
    .body{
        &__header--title{
            color: lighten(a.$text-color,90%);
        }
    }

    .totalContainer, .graficoContainer, .main-content, .modalSection--content{
        border: solid 3px darken(a.$bg-color3, 75%);
        // box-shadow: 2px 2px 5px darken(a.$bg-color3, 100%);
        box-shadow: none;
        background-color: darken(a.$bg-color3,70%);
    }
    
    .navbar{
        background-color: darken(a.$bg-color3,70%) !important;
        box-shadow: none;
        // box-shadow: 2px 2px 5px darken(a.$bg-color3, 100%);
        &-item, &-link, &-dropdown{
            background-color: darken(a.$bg-color3,70%) !important;
        }
        &-divider{
            background-color: darken(a.$bg-color3,65%) !important;
        }
        & a{
            color: a.$bg-color3 !important;
        }
        &-item:hover, &-link:hover, &-dropdown:hover{
            background-color: darken(a.$bg-color3,73%) !important;
            color: a.$bg-color !important;
        }
    }


    .modalSection--content{
        background-color: darken(a.$bg-color3,60%);
        border: solid 3px darken(a.$bg-color3, 75%);
        &--header{
            background-color: darken(a.$bg-color3,60%);
            &--title{
                color: a.$bg-color3;
            }
            &--icon{
                color: a.$bg-color3;
                &:hover{
                    color: lighten(black, 75%);
                }
            }
        }
        &--form{
            color: a.$bg-color3;
            &--fillField{
                background-color: darken(a.$bg-color3, 30%);
            }
        }
    }

    .main-content{
        &__table{
            &--header--title{
                color: a.$bg-color3;
            }
            tbody tr{
                &:hover{
                    background-color: darken(a.$bg-color3, 73%);
                }
            }
        }
    
        .thead--cell{
            border: solid 1px darken(black,40%);
    
        }
        .tbody--cell{
            color: a.$bg-color3;
            border-bottom: solid 1px a.$bg-color3;
        }
        
    
        .labelc:hover{
            background-color:darken(a.$bg-color3, 80%);
        }

    }



    .footer{
        color: a.$bg-color3 !important;
    }

    .fa-moon{
        margin-left:-27px;
        path{
            color: a.$bg-color;
        }
    }
    
    .fa-sun{
        path{
            color: transparent;
        }
    }
    
    .fa-trash, .fa-pen{
        path{
            color: a.$bg-color3 !important;
        }
    }
}