.footer{
    color: rgb(73, 73, 73);
    user-select: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
	bottom: 10px;
	width: 100%;
    z-index: 1;
}