@use "../variables/index.scss" as a;

.footer{
    background-color:transparent !important;
    color: rgb(73, 73, 73);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
	bottom: 10px;
	width: 100%;
    z-index: 1;
    height: 20px !important;
    padding:0 !important;

}