@use '../variables/index.scss' as a;
@use '../util/index.scss' as *;



.body__header{
    background-color: a.$bg-color;

    &--title{
        color: a.$bg-color1;
    }

    &--subtitle{
        color: a.$bg-color1;
    }
}

.main-content__windowSection{
    background-color: unset;

    &--header{
    background-color: a.$bg-color;

        &--title{
            color: black;
        }

        &--subtitle{
            color: red;
        }
    }
}