@use 'breakpoints.scss' as *;
@use '../variables/index.scss' as a;

@include for-size(phone-only){
    // .body__header {
    //     &--title{
    //         font-size: 2rem;
    //     }
    //     &--subtitle{
    //         font-size: 0.8rem;
    //     }
    // }

}

@include for-size(tablet-portrait-up){
    .body__header {
        max-height: 20%;
        &--title{
            font-size: 2rem;
        }
        &--subtitle{
            font-size: 0.8rem;
        }
    }


    .main-content{
        
        &__table{
            width: 80%;
        }

        .thead--cell{

            &:nth-child(1){
                min-width: 90px;
                max-width: 120px;
            }
            
            &:nth-child(2){
                min-width: 80px;
            }

            &:nth-child(3){
                min-width: 90px;
            }
        }
    }


}

@include for-size(tablet-landscape-up){

}

@include for-size(desktop-up){

}


%align-center {
    display: flex;
    align-items: center;
}
